<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{this.username}}</i></h2>
        <br>
        <h3>dirección: {{this.email}}</h3>
        <h4>nombre: {{this.firstName}}</h4>
        <h4>apellido: {{this.lastName}}</h4>
        <button class="btn btn-danger my-5" onclick="location.href='/signout'">LOGOUT</button>
    </div>
</div>