body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(24, 23, 23);
}

a {
  color: #00B7FF;
}
h1 {
  color: blue;
}

h2 {
  color: rgb(255, 0, 68);
}